
body{
    font-family: 'Montserrat', sans-serif;  
    text-align: center;
} 

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;

}

root{ 
    --pink:#ff4c68;
    --white:#ffffff;
    --coral:#ef8172;

}

/* Headings */

.big-heading{
   
    font-weight: 900;
    font-size:  3.5rem;
    line-height: 1.5;
    color:  var(--white);
}


.medium-heading{
    font-weight: 500;
    font-size:  3rem;
    line-height: 1.5; 
}

.small-header{
    font-weight: 900;
    font-size: 1.5rem;
}

.container-fluid{
  
    padding: 7% 15%;  
}


/* section */


.colored-section{
    background-color: var(--pink);  
}

.white-section{

    background-color: var(--white);  
     
}


/* Title Section */

#title{

    text-align: left;  
}

.navbar{
    padding-left: 0;
    padding-bottom: 3rem;
}

.navbar-brand {
    font-size: 2.5rem;
    padding-left: 0px;
}

.nav-item {
    font-size: 1.2rem;
    padding-left: 18px;
}



#title .container-fluid{
  
    padding: 2% 15% 10%;  
}


#title img{
    transform: rotate(25deg);  
    width: 60%;
    position: absolute;
    right: 30%;
    top: 10%;
}

.download-button{
    margin: 5% 1rem 0 0;
}


/* Feature */

#features{
    
    position: relative;
    
   
}

.feature-box i {
    font-size: 3rem;
    color:var(--coral);
    margin-bottom: 1rem;    
}

.feature-box h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}

.feature-box p {
    color: #8f8f8f;
}


#features .row i:hover{
    color:var(--pink);    
}

#features .col-lg-4 {
    
    margin: 0 auto;
    padding: 2rem;    
}

/* Testimonials */

#testimonials{
    position: relative;
    
    background-color: #ef8172;
    color: var(--white);
}


.testimonial-image{
    border-radius: 50%;
    width: 10%;
    margin: 20px;
}


/* Press */

#press{
    position: relative;
    padding: 0% 20% 5%;
    background-color: #ef8172;
    
}

.press-logo{
    width: 15%;
    margin: 0px 20px 50px;
}

/* pricing */


.pricing-column {
    padding: 3%;
}


/* cta */

#cta{
    background-color: var(--pink);
    text-align:center;
}


#cta h3{
    color: var(--white); 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size:  3rem; 
    padding: 20px;
}



#footer{

    color: #8f8f8f;

}

#footer i {
    padding: 5px 5px 30px 5px;
    color: #5E5B54;
}


@media (max-width:1028px){

    #title{
        text-align:center;
    }
    #hero-img img{
        transform: rotate(0);  
        width: 60%;
        position: static;
        padding-top: 30px;
      
    }
}